In [1]:
import pandas as pd

In [2]:
!pip install pyspark

Collecting pyspark
  Using cached pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Using cached py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c727d63ba04b9a4200b26d091bf792d3632c1ac6211e371c79016eee1dd3d3dc
  Stored in directory: c:\users\014207631\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [15]:
fields = ['Município', 'Vl Remun Média Nom']

In [18]:
df = pd.read_csv("RAIS_VINC_PUB_MG_ES_RJ.csv",encoding="ISO-8859-1",delimiter=";", usecols=fields)

In [19]:
df.describe()

          Município
count  9.136361e+06
mean   3.156005e+05
std    5.494389e+03
min    3.100100e+05
25%    3.109000e+05
50%    3.142800e+05
75%    3.170200e+05
max    3.306300e+05

In [20]:
df.head()

   Município Vl Remun Média Nom
0     312230      0000000000,00
1     310500      0000001749,00
2     313460      0000001331,76
3     312660      0000000946,30
4     313065      0000000845,61

In [22]:
df['valor'] = df['Vl Remun Média Nom'].map(lambda x: float(x.replace(',','.')))

In [23]:
df.head()

   Município Vl Remun Média Nom    valor
0     312230      0000000000,00     0.00
1     310500      0000001749,00  1749.00
2     313460      0000001331,76  1331.76
3     312660      0000000946,30   946.30
4     313065      0000000845,61   845.61

In [25]:
df['estado'] = df['Município'].map(lambda x: str(x)[0:2])

In [26]:
df.head()

   Município Vl Remun Média Nom    valor estado
0     312230      0000000000,00     0.00     31
1     310500      0000001749,00  1749.00     31
2     313460      0000001331,76  1331.76     31
3     312660      0000000946,30   946.30     31
4     313065      0000000845,61   845.61     31

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9136361 entries, 0 to 9136360
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   Município           int64
 1   Vl Remun Média Nom  object
 2   valor               float64
 3   estado              object
dtypes: float64(1), int64(1), object(2)
memory usage: 278.8+ MB

In [33]:
df.loc[df['estado']=='31']['valor'].mean()

2220.012129815751